<div class="db-wrapper">
    <div class="db-card">
        <div class="db-card__icon"><i class="fas fa-chart-line"></i></div>
        <p class="db-card__greeting">Welcome back!</p>
        <h1 class="db-card__name">Logged In as "{{ role }}"</h1>
    </div>
</div>

<!-- <div class="row text-center">
    <h1 class="text-capitalize">Financial Seminar and Workshop Management Platform</h1>
</div>


<div class="container mt-4">
    Error Message 
    <div *ngIf = "showError" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    Events List 
    <div>
        <h4>All Events</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Schedule</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let event of eventList">
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.schedule }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.status }}</td>
                </tr>
                <tr *ngIf = "eventList.length === 0">
                    <td><span>No events found</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->